<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://webservices.sveaekonomi.se/webpay_test/sveawebpay.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="WebpayWS.ServiceSoap" name="ServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>