<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceSoap1" />
                <binding name="AdminSoapService">
                    <security mode="Transport" />
                </binding>
                <binding name="AdminSoapService1" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WcfAdminSoapService">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="WcfAdminSoapService1">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://webpayws.svea.com/SveaWebPay.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="WebpayWS.ServiceSoap" name="ServiceSoap" />
            <endpoint address="https://webpayadminservice.svea.com/AdminService.svc/secure"
                binding="wsHttpBinding" bindingConfiguration="WcfAdminSoapService"
                contract="AdminWS.IAdminService" name="WcfAdminSoapService" />
            <endpoint address="https://webpayadminservice.svea.com/AdminService.svc/backward"
                binding="basicHttpBinding" bindingConfiguration="AdminSoapService"
                contract="AdminWS.IAdminService" name="AdminSoapService" />
        </client>
    </system.serviceModel>
</configuration>