<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceSoap1" />
                <binding name="AdminSoapService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WcfAdminSoapService">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://webservices.sveaekonomi.se/webpay_test/sveawebpay.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="WebpayWS.ServiceSoap" name="ServiceSoap" />
            <endpoint address="https://partnerweb.sveaekonomi.se/WebPayAdminService_Test/AdminService.svc/secure"
                binding="wsHttpBinding" bindingConfiguration="WcfAdminSoapService"
                contract="AdminWS.IAdminService" name="WcfAdminSoapService" />
            <endpoint address="https://partnerweb.sveaekonomi.se/WebPayAdminService_Test/AdminService.svc/backward"
                binding="basicHttpBinding" bindingConfiguration="AdminSoapService"
                contract="AdminWS.IAdminService" name="AdminSoapService" />
        </client>
    </system.serviceModel>
</configuration>